
  .loginBox {
    max-width:  90%;
    width: 500px
  }
  .loginContainer {
      height: 100vh !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }
